In [1]:
import pickle
import pandas as pd
rfr_model = pickle.load(open("Pv_RamdForReg_model.sav", "rb" ))

In [2]:
pv_dfbase = pd.read_csv("https://raw.githubusercontent.com/icaromisquita/WBS-Final-Project-/main/pv_final_cleaned.csv")
pv_dfbase.head()

,temp_air,relative_humidity,ghi,dni,dhi,IR(h),wind_speed,wind_direction,pressure,apparent_zenith,...,i_x,i_xx,Power(Wh),season,day,weekday,weekday_name,month,month_name,year
0,-0.20,94.53,30.0,170.05,15.0,268.15,1.66,251.0,102144.0,85.862670,...,0.054036,0.040079,2552.4,1,1,4,Friday,1,January,2016
1,0.99,93.21,54.0,152.85,27.0,265.10,1.67,254.0,102134.0,80.546226,...,0.112267,0.083135,1860.0,1,1,4,Friday,1,January,2016
2,2.17,91.90,18.0,38.81,9.0,262.05,1.69,258.0,102124.0,76.971560,...,0.040401,0.029978,2749.8,1,1,4,Friday,1,January,2016
3,3.35,90.58,14.0,27.98,7.0,259.00,1.71,261.0,102114.0,75.490287,...,0.031615,0.023465,1809.6,1,1,4,Friday,1,January,2016
4,2.55,92.96,10.0,21.71,5.0,254.28,1.52,264.0,102128.0,76.247190,...,0.022682,0.016839,1473.6,1,1,4,Friday,1,January,2016

In [3]:
temp = pd.DataFrame(pv_dfbase.mean()).transpose()
final = pd.concat([pv_dfbase[['weekday_name','month_name']].mode(),temp],axis=1)
final

C:\Users\icaro\AppData\Local\Temp\ipykernel_20396\2744642985.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  temp = pd.DataFrame(pv_dfbase.mean()).transpose()

,weekday_name,month_name,temp_air,relative_humidity,ghi,dni,dhi,IR(h),wind_speed,wind_direction,...,v_mp,p_mp,i_x,i_xx,Power(Wh),season,day,weekday,month,year
0,Sunday,July,13.479183,67.95668,267.485811,253.712641,136.441669,313.998579,3.788205,221.601019,...,41.668701,24.896008,0.608176,0.440295,7494.158186,2.599078,15.654863,3.010429,6.418627,2012.39025

In [4]:
#Converting month and year to a integer
final = final.astype({"month":"int","year":"int"})
final

,weekday_name,month_name,temp_air,relative_humidity,ghi,dni,dhi,IR(h),wind_speed,wind_direction,...,v_mp,p_mp,i_x,i_xx,Power(Wh),season,day,weekday,month,year
0,Sunday,July,13.479183,67.95668,267.485811,253.712641,136.441669,313.998579,3.788205,221.601019,...,41.668701,24.896008,0.608176,0.440295,7494.158186,2.599078,15.654863,3.010429,6,2012

## Making a prediction using the base values

In [5]:
print('The Predict energy is {0:.2f} Wh'.format(rfr_model.predict(final)[0]))
print('The Predict energy is {0:.2f} KWh'.format((rfr_model.predict(final)[0])/1000))

The Predict energy is 7919.89 Wh
The Predict energy is 7.92 KWh

## Saving the base dataframe

In [6]:
final.to_csv("./pv_base.csv",index=False)

In [7]:
test = pd.read_csv("pv_base.csv")
test.head()

,weekday_name,month_name,temp_air,relative_humidity,ghi,dni,dhi,IR(h),wind_speed,wind_direction,...,v_mp,p_mp,i_x,i_xx,Power(Wh),season,day,weekday,month,year
0,Sunday,July,13.479183,67.95668,267.485811,253.712641,136.441669,313.998579,3.788205,221.601019,...,41.668701,24.896008,0.608176,0.440295,7494.158186,2.599078,15.654863,3.010429,6,2012

In [8]:
test.columns

Index(['weekday_name', 'month_name', 'temp_air', 'relative_humidity', 'ghi',
       'dni', 'dhi', 'IR(h)', 'wind_speed', 'wind_direction', 'pressure',
       'apparent_zenith', 'zenith', 'apparent_elevation', 'elevation',
       'azimuth', 'equation_of_time', 'aoi', 'poa_global', 'poa_direct',
       'poa_diffuse', 'poa_sky_diffuse', 'poa_ground_diffuse',
       'cell_temperature', 'effective_irradiance', 'ac_current', 'i_sc',
       'i_mp', 'v_oc', 'v_mp', 'p_mp', 'i_x', 'i_xx', 'Power(Wh)', 'season',
       'day', 'weekday', 'month', 'year'],
      dtype='object')